body{
  font-family: Helvetica;
  font-size:15px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  background-color: #191919;
}

.container{
  width: 60%;
  margin: auto;
  overflow: hidden;
}

header{
  background: #505050;
  color: #ffffff;
  padding-top: 10px;
  min-height: 60px;
  border-bottom: #ffffff 2px solid;
}

header #title{
  float:left;
  padding-top: 5px;
}

header #title h1{
  margin: 0;
  margin-right: 25px
}

header nav{
  float:right;
  margin-top: 5px;
}

#showcase{
  height: auto;
  width: auto;
  padding-top: 3vh;
}
