body{
  font-family: Helvetica;
  font-size:15px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  background-color: #191919;
}

.container{
  width: 60%;
  margin: auto;
  overflow: hidden;
}

.playvideo{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header{
  background: #505050;
  color: #ffffff;
  padding-top: 10px;
  min-height: 60px;
  border-bottom: #ffffff 2px solid;
}

header #title{
  float:left;
  padding-top: 5px;
}

header #title h1{
  margin: 0;
  margin-right: 25px
}

header nav{
  float:right;
  margin-top: 5px;
}

#showcase{
  height: auto;
  width: auto;
  padding-top: 3vh;
}

.button1 {
    background-color: #707070;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover {
    background-color: #000000;
    color: white;
}